<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>


<div class= "machine">

<img src="../_src/assets/js.png" style="float: right" height="250">

  <h1> <b> Práctica 2: <br> Calidad del Dato </b> </h1>


</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

Con el objetivo de asegurarse de que la calidad de la información con la que se va a trabajar sea la óptima, es necesario realizar una lista de propuestas de mejora teniendo en cuenta los siguientes puntos:

</div>

## <b> <font face = "Space Mono"> Resolución </font> </b>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">

<ol start="1">
    <li> <b> ¿Qué tan actualizada está la información? ¿La forma en que se actualiza ó mantiene esa información se puede mejorar? 
    </b> </li>
</ol>

</div>

<div class="human">

Tablas con el campo fecha:

*   compra: ultimo registro cargado el 25-dic-2020. <br>

*   venta: ultimo registro cargado el 30-dic-2020. <br>

*   gasto: ultimo registro cargado el 01-dic-2020. <br>

Los datos no están vigentes, por lo tanto no pueden ser implementados para la toma de decisiones estratégicas, ya que están siendo evalaudos 2 años depués de haber sido almacenados, si bien es muy pronto para asumir que los datos presentan sesgos, no es arriesgado asumir a priori, que no describen la realidad actual de la empresa. <br>

Se puede definir un periodo de actualización de datos, que reflejen en tiempo real la realidad de la empresa, este periodo se suele definir en función de la experiencia de la empresa, de otro mode debe obedecer al los requrimientos de la autoridad competente que regule su campo de operación. <br>

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">

<ol start="2">
	<li> <b> 
		¿Los datos están completos en todas las tablas? 
	</b> </li>
</ol>

</div>

<div class="human">


*	Hay datos faltantes en:

</div>


|   Tabla   |   Columna     |
| :-------: | :-----------: |
|   venta   |   cliente     |
|   venta   |   precio      |
|   cliente |   x           |
|   cliente |   y           |
|   sucursal|   x           |
|   sucursal|   y           |

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">

<ol start="3">
    <li> <b> ¿Se conocen las fuentes de los datos? </b> </li> <br>
</lo>

</div>

<div class="human">

No, no se conoce la fuente de los datos.

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">


<ol start="4">
    <li> <b> Al integrar éstos datos, es prudente que haya una normalización respecto de nombrar las tablas y sus campos. </b> </li> <br>
</lo>

</div>

<div class="human">

Si, es prudente normalizar los identificadores de los campos y tablas ya que facilita la recuperación de los datos y la correlatividad entre los registros a la hora de generar las relaciones.

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">

<ol start="5">
    <li> <b> Es importante revisar la consistencia de los datos: <br> ¿Se pueden relacionar todas las tablas al modelo? <br> ¿Cuáles son las tablas de hechos y las tablas dimensionales o maestros? <br> ¿Podemos hacer esa separación en los datos que tenemos (tablas de hecho y dimensiones)? <br> ¿Hay claves duplicadas? <br> ¿Cuáles son variables cualitativas y cuáles son cuantitativas? <br> ¿Qué acciones podemos aplicar sobre las mismas? </b> </li> <br>
</lo>

</div>

<div class="human">

<b> Tablas de Hechos </b>:

*   Venta: registro de la venta.

*   Compra: registro de la compra.

*   Gastos: registro de las deducciones hechas de caja para efecto de la operación del negocio.

<b> Tablas de Dimensiones </b>:

*   Clientes: registra los clientes atendidos.

*   Sucursales: registras las franquicias del negocio.

*   Tipo de Gatos: registras los conceptos de las deducciones hechas de las caja del negocio para efectos de su operatividad.

*   Empleados: registra los datos del empleado.

*   Prodcusto: catalogo de ítems vendido en la tiempo.

*   Proveedores: registro de proveedores y subcontratados por el negocio.

*   Canal de Ventas: registra los medios a través de los cuales el negocio comercializa los artículos.

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">
    <ol start="6">
        <li> <b> Normalizar los nombres de los campos y colocar el tipo de dato adecuado para cada uno en cada una de las tablas. Descartar columnas que consideres que no tienen relevancia. </b> </li> <br>
    </lo>
</div>

<div class="human">

*   Modificamos los tipos de datos en:

</div>

<style>
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

|   Tabla        |   Columna        |   Tipo de Dato    |
| :------------: | :--------------: | :---------------: |
|  venta         |   cantidad       | INTEGER           |
|  tipo_gasto    |   id_tipo_gasto  | INTEGER           |
|  producto      |   precio         | DECIMAL(10,2)     |
|  empleado      |   salario        | DECIMAL(10,2)     |
|  cliente       |   x              | DECIMAL(10,2)     |
|  cliente       |   y              | DECIMAL(10,2)     |
|  sucursal      |   latitud        | DECIMAL(10,2)     |
|  sucursal      |   longitud       | DECIMAL(10,2)     |




</div>

<style>
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

*   Eliminamos las columnas en:

</siv>

<style>
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

|   Tabla        |   Columna      |
| :------------: | :------------: |
|  compra        |   precio       |
|  venta         |   precio       |
|  cliente       |   x            |
|  cliente       |   y            |
|  cliente       |   col10        |
|  sucursal      |   latitud      |
|  sucursal      |   longitud     |

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

*   Ejecutamos las siguientes consultas para modificar los tipos de datos:

    1. Para la columna cantidad de la tabla venta.
        ```sql
            ALTER TABLE `venta` MODIFY `cantidad` INTEGER;
        ```
        <b> Al ejecutar la consulta anterior arroja el error </b>:
        <div class="machine">

        <i> Error SQL (1366): Incorrect integer value; '' for column 'canitdad' at row ... </i>

        </div>

        El campo está vacío, almacenó el salto de línea, nos obstante, al realizar la consulta: 
        ```sql
            SELECT * FROM venta 
            WHERE `cantidad` = '' OR `cantidad` IS NULL OR TRIM(`cantidad`) = '';
        ```
        No arroja ninguna coincidencia, pues los parametros seteados no correspondel al carácter del salto de linea.
        <b> Solución </b>

       *   En windows, el salto de linea es representado, en la mayoría de las ocaciones por: `\r\n`, no obstante tambie es frecuente encontrar archivos en los cuales el salto de línea es denotado por: `\n` (esto último depende en gran mendida de como fue generado el .csv). <br>
           *   Para 'decirle' a MySQL que busque mediante dicho parámetro es necesario contruir la consulta de la siguiente manera.
    
                ```sql
                SELECT * FROM venta 
                WHERE cantidad = CHAR(10) + CHAR(13);
                ```

       *   En Linux, unix y iOS es representado por: `\n`. <br>
           *   Para 'decirle' a MySQL que busque mediante dicho parámetro es necesario contruir la consulta de la siguiente manera.
           
                ```sql
                SELECT * FROM venta 
                WHERE cantidad = CHAR(10);
                ```

        Reemplazamos el salto de línea por el valor null:
        ```sql
        SELECT * FROM `venta` WHERE cantidad = CHAR(10) + CHAR(13);
        ```     

        Ejecutamos la consulta: 
        ```sql
            ALTER TABLE `venta` MODIFY `cantidad` INTEGER;
        ```
        
    2. Para la columna id_tipo_gasto de la tabla tipo_gasto:
        ```sql
            ALTER TABLE `venta` MODIFY `cantidad` INTEGER;
        ```
        
    3. Para la columna precio de la tabla producto.
        ```sql
            SELECT MAX(CHAR_LENGTH(`concepto`)) FROM `producto`;
            -- CHAR_LENGTH = 12
            ALTER TABLE `producto` MODIFY `precio` DECIMAL(15,2);
        ```

    4. Para la columna salario de la tabla empleado
        ```sql
            SELECT MAX(CHAR_LENGTH(`empleado`)) FROM `salario`;
            -- CHAR_LENGTH = 5
            ALTER TABLE `empleado` MODIFY `salario` DECIMAL(10,2);
        ``` 

    5. Para normalizar la tabla cliente ejecutamos el siguiente scritp:
        ```sql
            SELECT * FROM `cliente`;

            SELECT CHAR_LENGTH(`x`) FROM `cliente`;
            -- número de carácteres: 12

            SELECT CHAR_LENGTH(`y`) FROM `cliente`;
            -- número de carácteres: 12

            ALTER TABLE `cliente`   ADD `latitud` DECIMAL(13,10) NOT NULL DEFAULT '0' AFTER `y`, 
                                    ADD `longitud` DECIMAL(13,10) NOT NULL DEFAULT '0' AFTER `latitud`;

            SELECT * FROM `cliente`;

            UPDATE `cliente` SET `x` = '0' WHERE `x` = '';
            
            UPDATE `cliente` SET `y` = '0' WHERE `y` = '';

            UPDATE `cliente` SET `longitud` = REPLACE((`x`), (','), ('.'));

            UPDATE `cliente` SET `latitud` = REPLACE((`y`), (','), ('.'));

            SELECT * FROM `cliente`;

            ALTER TABLE `cliente` DROP `x`, DROP `y`;
        ```         

    6. Para normalizar la tabla cliente ejecutamos el siguiente scritp:
        ```sql
            ALTER TABLE `sucursal`  ADD `latitud2` DECIMAL(13,10) NOT NULL DEFAULT '0' AFTER `longitud`, 
                                    ADD `longitud2` DECIMAL(13,10) NOT NULL DEFAULT '0' AFTER `latitud`;

            UPDATE `sucursal` SET `latitud2` = REPLACE(`latitud`,',','.');

            UPDATE `sucursal` SET `longitud2` = REPLACE(`longitud`,',','.');

            SELECT * FROM `sucursal`;

            ALTER TABLE `sucursal` DROP `latitud`;

            ALTER TABLE `sucursal` DROP `longitud`;

            ALTER TABLE `sucursal` RENAME `latitud2` TO `latitud`;
            
            ALTER TABLE `sucursal` RENAME `longitud2` TO `longitud`;
        ```   



</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

*   Ejecutamos las siguientes consultas para campos seleccionados:

    *   Nota: 
        *   La columna precio en la tabla compra corresponde al precio al que fueron vendidos los artículos al negocio, por parte del proveedor.
  
        *   La columna precio de la tabla venta puede ser elimina, ya que estos pueden ser extraídos de la tabla producto.
  
        *   Las columnas x e y, de la tabla cliente corresponde a las coordenas de la ubicación del cliente, por lo tanto no deben ser eliminadas.

        *   Las columnas latitud e longitud, de la tabla sucursal corresponde a las coordenas de la ubicación de la sucursal, por lo tanto no deben ser eliminadas. <br>

    1. Para la columna precio de la tabla venta.
        ```sql
            ALTER TABLE `venta` DROP COLUMN `precio`;
        ```

    2. Para la columna clo10 de la tabla cliente.
        ```sql
            ALTER TABLE `venta` DROP COLUMN `col10`;
        ```

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">
    <ol start="7">
        <li> <b> Buscar valores faltantes y campos inconsistentes en las tablas sucursal, proveedor, empleado y cliente. De encontrarlos, deberás corregirlos o desestimarlos. Propone y realiza una acción correctiva sobre ese problema. </b> </li> <br>
    </lo>
</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

| Tabla      | Columna          | Nro Registros Faltantes |
| :--------: | :--------------: | :---------------------: |
|  Sucursal  | N/A              |   0                     |
|  Proveedor | Nombre           |   2                     |
|  Empleados | N/A              |   0                     |
|  cliente   | Provincia        |  31                     |
|  cliente   | Nombre Apellido  |  46                     |
|  cliente   | Domicilio        |  48                     |
|  cliente   | Telefono         |  90                     |
|  cliente   | Localidad        |  32                     |
|  cliente   | x                |  62                     |
|  cliente   | y                |  60                     |

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

Creamos las tablas `aux_venta`, `aux_proveedor`, `aux_cliente` y allí se han de almacenar los registros que presenten problemas de las tablas correspondientes: `venta`, `proveedor`, `cliente`, y los campos de las tablas nativas se han de completar con: 'Sin dato'.

</div>

In [ ]:
DROP TABLE IF EXISTS `aux_cliente`;
CREATE TABLE IF NOT EXISTS `aux_cliente` (
	`id_cliente`					INTEGER,
	`provincia`			VARCHAR(50),
	`nombre_apellido`	VARCHAR(80),
	`domicilio`			VARCHAR(150),
	`telefono`			VARCHAR(30),
	`edad`				VARCHAR(5),
	`localidad`			VARCHAR(80),
	`x`			VARCHAR(30),
	`y`			VARCHAR(30),
	`col10`				VARCHAR(1)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;

INSERT INTO `aux_cliente`
	SELECT * FROM `cliente` WHERE `id_cliente` IS NULL OR TRIM(`id_cliente`) = ''
    OR `provincia` IS NULL OR TRIM(`provincia`) = ''
    OR `nombre_apellido` IS NULL OR TRIM(`nombre_apellido`) = ''
    OR `domicilio` IS NULL OR TRIM(`domicilio`) = ''
    OR `telefono` IS NULL OR TRIM(`telefono`) = ''
    OR `edad` IS NULL OR TRIM(`edad`) = ''
    OR `localidad` IS NULL OR TRIM(`localidad`) = ''
    OR `x` IS NULL OR TRIM(`x`) = ''
    OR `y` IS NULL OR TRIM(`y`) = '';
    
ALTER TABLE `aux_cliente` DROP COLUMN `col10`;

SELECT * FROM aux_cliente;

SET SQL_SAFE_UPDATES = 0;

UPDATE `aux_cliente`
	SET
		`provincia` = CASE WHEN TRIM(`provincia`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`nombre_apellido` = CASE WHEN TRIM(`nombre_apellido`) = "" OR ISNULL(`nombre_apellido`) THEN 'Sin Dato' ELSE `nombre_apellido` END,
		`domicilio` = CASE WHEN TRIM(`domicilio`) = "" OR ISNULL(`domicilio`) THEN 'Sin Dato' ELSE `domicilio` END,
		`telefono` = CASE WHEN TRIM(`telefono`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`localidad` = CASE WHEN TRIM(`localidad`) = "" OR ISNULL(`localidad`) THEN 'Sin Dato' ELSE `localidad` END,
		`x` = CASE WHEN TRIM(`x`) = "" OR ISNULL(`x`) THEN '0' ELSE `x` END,
		`y` = CASE WHEN TRIM(`y`) = "" OR ISNULL(`y`) THEN '0' ELSE `y` END;
        
UPDATE `cliente`
	SET
		`provincia` = CASE WHEN TRIM(`provincia`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`nombre_apellido` = CASE WHEN TRIM(`nombre_apellido`) = "" OR ISNULL(`nombre_apellido`) THEN 'Sin Dato' ELSE `nombre_apellido` END,
		`domicilio` = CASE WHEN TRIM(`domicilio`) = "" OR ISNULL(`domicilio`) THEN 'Sin Dato' ELSE `domicilio` END,
		`telefono` = CASE WHEN TRIM(`telefono`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`localidad` = CASE WHEN TRIM(`localidad`) = "" OR ISNULL(`localidad`) THEN 'Sin Dato' ELSE `localidad` END,
		`x` = CASE WHEN TRIM(`x`) = "" OR ISNULL(`x`) THEN '0' ELSE `x` END,
		`y` = CASE WHEN TRIM(`y`) = "" OR ISNULL(`y`) THEN '0' ELSE `y` END;
        
SELECT * FROM `cliente`;

DROP TABLE IF EXISTS `aux_proveedor`;
CREATE TABLE IF NOT EXISTS `aux_proveedor` (
	`id_proveedor`		INTEGER,
	`nombre`			VARCHAR(80),
	`domicilio`		VARCHAR(150),
	`ciudad`			VARCHAR(80),
	`provincia`		VARCHAR(50),
	`pais`			VARCHAR(20),
	`departamento`	VARCHAR(80)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;


INSERT INTO `aux_proveedor`
	SELECT * FROM `proveedor`
    WHERE `nombre` IS NULL OR TRIM(`nombre`) = '';

SELECT * FROM `aux_proveedor`;

UPDATE `aux_proveedor`  SET `nombre` = 'Sin Dato' 
	WHERE `nombre` IS NULL OR TRIM(`nombre`) = '';
    
SELECT * FROM `aux_proveedor`;

UPDATE `proveedor`  SET `nombre` = 'Sin Dato' 
	WHERE `nombre` IS NULL OR TRIM(`nombre`) = '';

SELECT * FROM `proveedor`;

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">
    <ol start="8">
        <li> <b> Chequear la consistencia de los campos precio y cantidad de la tabla de ventas. </b> </li> <br>
    </lo>
</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

Se eliminó la columna precios de la tabla `venta` ya que dicha información se puede obtener a partir de una consulta de unión ente la tabla `venta` y la tabla `producto`.

Los campos 'vacíos' en la columna `cantidad` de la tabla `venta` se coloracarón como nulos, los resgistros que presentaban problemas debido a usencia de datos en las columnas `precio` y/o `cantidad` se guardaron en la tabla `aux_venta`.

</div>

In [ ]:
-- Creamos una consulta, a partir de las tablas venta y producto en la cual se mueste el precio del producto y la cantidad de articulos ventidados para ese producto.

SELECT `venta`.`id_venta`, 
        `venta`.`fecha`, 
        `venta`.`fecha_entrega`, 
        `venta`.`id_canal`, 
        `venta`.`id_cliente`, 
        `venta`.`id_sucursal`, 
        `venta`.`id_empleado`, 
        `venta`.`id_producto`, 
        `producto`.`descripcion_producto`, 
        `producto`.`precio`, `venta`.`cantidad`
    FROM `producto`
    RIGHT OUTER JOIN `venta`
    ON `producto`.`id_producto` = `venta`.`id_producto`;

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">
    <ol start="9">
        <li> <b> Utilizar la funcion provista 'UC_Words' para modificar a letra capital los campos que contengan descripciones para todas las tablas. </b> </li> <br>
    </lo>
</div>

In [ ]:
SELECT * FROM `cliente`;

UPDATE `cliente`
	SET
		`provincia` = CASE WHEN (`provincia`)IS NOT NULL THEN UC_Words(`provincia`) ELSE `provincia` END,
        `nombre_apellido` = CASE WHEN (`nombre_apellido`)IS NOT NULL THEN UC_Words(`nombre_apellido`) ELSE `nombre_apellido` END,
		`domicilio` = CASE WHEN (`domicilio`)IS NOT NULL THEN UC_Words(`domicilio`) ELSE `domicilio` END,
		`localidad` = CASE WHEN (`localidad`)IS NOT NULL THEN UC_Words(`localidad`) ELSE `localidad` END;

SELECT * FROM `compra`;

-- No posee campos descriptivos

SELECT * FROM `gasto`;

-- No posee campos descriptivos

SELECT * FROM `sucursal`;

UPDATE `sucursal`
	SET
		`sucursal` = CASE WHEN (`sucursal`)IS NOT NULL THEN UC_Words(`sucursal`) ELSE `sucursal` END,
        `domicilio` = CASE WHEN (`domicilio`)IS NOT NULL THEN UC_Words(`domicilio`) ELSE `domicilio` END,
		`localidad` = CASE WHEN (`localidad`)IS NOT NULL THEN UC_Words(`localidad`) ELSE `localidad` END,
		`provincia` = CASE WHEN (`provincia`)IS NOT NULL THEN UC_Words(`provincia`) ELSE `provincia` END;

SELECT * FROM `tipo_gasto`;

-- No posee campos descriptivos

SELECT * FROM `venta`;

-- No posee campos descriptivos

SELECT * FROM `canal_venta`;

-- No posee campos descriptivos

SELECT * FROM `empleado`;

UPDATE `empleado`
	SET
		`apellido` = CASE WHEN (`apellido`)IS NOT NULL THEN UC_Words(`apellido`) ELSE `apellido` END,
        `nombre` = CASE WHEN (`nombre`)IS NOT NULL THEN UC_Words(`nombre`) ELSE `nombre` END,
		`sucursal` = CASE WHEN (`sucursal`)IS NOT NULL THEN UC_Words(`sucursal`) ELSE `sucursal` END,
		`sector` = CASE WHEN (`sector`)IS NOT NULL THEN UC_Words(`sector`) ELSE `sector` END,
        `cargo` = CASE WHEN (`cargo`)IS NOT NULL THEN UC_Words(`cargo`) ELSE `cargo` END;

SELECT * FROM `producto`;

UPDATE `producto`
	SET
		`descripcion_producto` = CASE WHEN (`descripcion_producto`)IS NOT NULL THEN UC_Words(`descripcion_producto`) ELSE `descripcion_producto` END,
        `tipo` = CASE WHEN (`tipo`)IS NOT NULL THEN UC_Words(`tipo`) ELSE `tipo` END;


SELECT * FROM `proveedor`;
	

UPDATE `proveedor`
	SET
		`nombre` = CASE WHEN (`nombre`)IS NOT NULL THEN UC_Words(`nombre`) ELSE `nombre` END,
        `domicilio` = CASE WHEN (`domicilio`)IS NOT NULL THEN UC_Words(`domicilio`) ELSE `domicilio` END,
        `ciudad` = CASE WHEN (`ciudad`)IS NOT NULL THEN UC_Words(`ciudad`) ELSE `ciudad` END,
        `provincia` = CASE WHEN (`provincia`)IS NOT NULL THEN UC_Words(`provincia`) ELSE `ciudad` END,
        `pais` = CASE WHEN (`pais`)IS NOT NULL THEN UC_Words(`pais`) ELSE `pais` END,
        `departamento` = CASE WHEN (`departamento`)IS NOT NULL THEN UC_Words(`departamento`) ELSE `departamento` END;

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="machine">
    <ol start="10">
        <li> <b> Chequear que no haya claves duplicadas, y de encontrarla en alguna de las tablas, proponer una solución. </b> </li> <br>
    </lo>
</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

Ejecutamos las siguientes consultas para verificar la unicidad de los id:
</div>

In [ ]:
-- tabla cliente

SELECT COUNT(`id_cliente`) num_id
    FROM `cliente`
    GROUP BY `id_cliente`
    HAVING num_id > 1;

-- tabla compra

SELECT COUNT(`id_compra`) num_id
    FROM `compra`
    GROUP BY `id_compra`
    HAVING num_id > 1;

-- tabla gasto

SELECT COUNT(`id_gasto`) num_id
    FROM `gasto`
    GROUP BY `id_gasto`
    HAVING num_id > 1;

-- tabla gasto

SELECT COUNT(`id_sucursal`) num_id
    FROM `sucursal`
    GROUP BY `id_sucursal`
    HAVING num_id > 1;

-- tabla tipo de gasto

SELECT `id_tipo_gasto`, COUNT(`id_tipo_gasto`) num_id
    FROM `tipo_gasto`
    GROUP BY `id_tipo_gasto`
    HAVING num_id > 1;

-- tabla venta

SELECT `id_venta`, COUNT(`id_venta`) num_id
    FROM `venta`
    GROUP BY `id_venta`
    HAVING num_id > 1;

-- tabla canal de venta

SELECT `id_canal`, COUNT(`id_canal`) num_id
    FROM `canal_venta`
    GROUP BY `id_canal`
    HAVING num_id > 1;

-- tabla empleado

SELECT `id_empleado`, COUNT(`id_empleado`) num_id
    FROM `empleado`
    GROUP BY `id_empleado`
    HAVING num_id > 1;

-- tabla producto

SELECT `id_producto`, COUNT(`id_producto`) num_id
    FROM `producto`
    GROUP BY `id_producto`
    HAVING num_id > 1;

-- tabla proveedor

SELECT `id_proveedor`, COUNT(`id_proveedor`) num_id
    FROM `proveedor`
    GROUP BY `id_proveedor`
    HAVING num_id > 1;

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

La unica tabla con id duplicados fue la tabla `empleado` con un total de 17 id duplicados, los cuales afectan a 35 registros.

</div>

In [ ]:
SELECT id_empleado 
    FROM (SELECT `id_empleado`, COUNT(`id_empleado`) num_id
        FROM `empleado`
        GROUP BY `id_empleado`
        HAVING num_id > 1) AS id_duplicados;

In [ ]:
SELECT * FROM `empleado`
    JOIN (SELECT `id_empleado`, COUNT(`id_empleado`) num_id
        FROM `empleado`
        GROUP BY `id_empleado`
        HAVING num_id > 1) AS `duplicado`
    ON `empleado`.`id_empleado` = `duplicado`.`id_empleado`
    ORDER BY `empleado`.`id_empleado` ASC;

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

<b> Propuesta para solucionar el error de id_empleado duplicados </b>

<ol type="1"> 
<li> Crear una nueva columna que almacenara el `id_sucursal` en la tabla `empleado`.

<li> Generar la clave única de la tabla `empleado` mediante creacion de clave subrogada. 

<li> Rellenar la columna `id_sucursal` en la tabla `empleado`.

<li> Crear la columna `codigo_empleado` en la tabla `empleado`.

<li> Rellenar la columna `codigo_empleado` con los datos de la columna `id_empleado`.

<li> Rellenar la columna id_empleado con la clave subrogada.

<li> Modificar la llave foranea de `empleado` en la tabla `venta`.
</ol>

</div>

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">

<b> Aplicación </b>

 <ol type="1" start="1"> 
  <li> Creamos la columna `codigo_empleado` en la tabla `empleado`. 
 </lo>


La columna código empleado almacenará los registros originales de la columna `id_empleado`.

</div>

In [ ]:
ALTER TABLE `empleado` ADD `id_sucursal` INT NULL DEFAULT '0' AFTER `sucursal`;

<style>
.machine {
    /*color: ;*/
    font-family: monospace;
    /*font-weight:;
    font-size: ;*/
}
.human {
    /*color: ;*/
    font-family: rubik;
    /*font-weight:;
    font-size: ;*/
}
</style>

<div class="human">


 <ol type="1" start="2"> 
  <li> Creamos una nueva columna que almacenara el `id_sucursal` en la tabla `empleado`.
 </lo>

</div>