![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# <b> Práctica Clase 2 </b>

Con el objetivo de asegurarse de que la calidad de la información con la que se va a trabajar sea la óptima, es necesario realizar una lista de propuestas de mejora teniendo en cuenta los siguientes puntos:

## <b> Ítems </b>


1.  ¿Qué tan actualizada está la información? ¿La forma en que se actualiza ó mantiene esa información se puede mejorar? <br>

*   Tablas con el campo fecha:

    *   compra: ultimo registro cargado el 25-dic-2020.
    *   venta: ultimo registro cargado el 30-dic-2020.
    *   gasto: ultimo registro cargado el 01-dic-2020.

Los datos no están vigentes, por lo tanto no pueden ser implementados para la toma de decisiones estatégicas, ya que están siendo evalaudos 2 años depues de haber sido almacenados, si bien es muy pronto para asumir que los datos presentan cesgos, no es arriesgado asumir a priori que no describen la realidad actual de la empresa.

Se puede definir un periodo de actualización de datos, que reflejen en tiempo real la realidad de la empresa, este periodo suele definir en función experiencia, de otro mode debe obedecer al los requrimientos de la autoridad compenete que regule su campo de operación.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)


2.  ¿Los datos están completos en todas las tablas? <br>

3.  ¿Se conocen las fuentes de los datos?

No, no se conoce la fuente de los datos.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

4.  Al integrar éstos datos, es prudente que haya una normalización respecto de nombrar las tablas y sus campos.

Si, es prudente normalizar los identificadores de los objetos ya que facilita la recuperación de los datos y la correlatividad entre los registros a la hora de generar las relaciones entre tablas.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

5.  Es importante revisar la consistencia de los datos: ¿Se pueden relacionar todas las tablas al modelo? ¿Cuáles son las tablas de hechos y las tablas dimensionales o maestros? ¿Podemos hacer esa separación en los datos que tenemos (tablas de hecho y dimensiones)? ¿Hay claves duplicadas? ¿Cuáles son variables cualitativas y cuáles son cuantitativas? ¿Qué acciones podemos aplicar sobre las mismas?

*   <b> Tablas de Hechos </b>:
  
    *   Venta: registro de la venta.
  
    *   Compra: registro de la compra.
  
    *   Gastos: registro de las deducciones hechas de caja para efecto de la operación del negocio.
  
*   <b> Tablas de Dimensiones </b>:

    *   Clientes: registra los clientes atendidos.

    *   Sucursales: registras las franquicias del negocio.

    *   Tipo de Gatos: registras los conceptos de las deducciones hechas de las caja del negocio para efectos de su operatividad.

    *   Empleados: registra los datos del empleado.

    *   Prodcusto: catalogo de ítems vendido en la tiempo.

    *   Proveedores: registro de proveedores y subcontratados por el negocio.

    *   Canal de Ventas: registra los medios a través de los cuales el negocio comercializa los artículos.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

6.  Normalizar los nombres de los campos y colocar el tipo de dato adecuado para cada uno en cada una de las tablas. Descartar columnas que consideres que no tienen relevancia.

In [ ]:
/* modificar tipo de datos */

-- tabla: `venta`
-- campo: `cantidad`	    INTEGER

-- creo un nuevo campo llamado `aux_venta`
-- paso los datos de `canitdad` a `aux_cantidad`
-- borro la columna `cantidad`
-- cambio el nombre a la columna `aux_cantidad` por `cantidad`

1)   Crear campo `aux_venta` en la tabla `venta`.

In [ ]:
ALTER TABLE `venta` ADD `aux_cantidad` INTEGER;

-- SHOW FULL COLUMNS FROM `venta`; # muestra una descripcion de la tabla

2.   Mover los datos de `cantidad` a `aux_venta`.

In [ ]:
UPDATE `venta`	SET `aux_cantidad` = `cantidad`;

<b> Arroja el error </b>

*   <i> Error Code: 1175. You are using safe update mode and you tried to update a table without a WHERE that uses a KEY column. <br>
*   To disable safe mode, toggle the option in Preferences -> SQL Editor -> Query Editor and reconnect </i> .

<b> Solución </b>

*   Desde la versión 5.2.26 viene la opción <i> safe-update </i> (actualización en modo seguro) establecida por defecto. Esto significa que no se puede modificar ningún registro (<i> Delete, Update, Truncate </i>) sin especificar la clave en la claúsula <i> Where </i>.

*   Para deshabilitar el modo seguro:

```sql
    SET SQL_SAFE_UPDATES = 0;
```

*   Para habilitar el modo seguro:

```sql
    SET SQL_SAFE_UPDATES = 1;
```


<b> Ejercutar consulta </b> :

In [ ]:
UPDATE `venta`	SET `aux_cantidad` = `cantidad`;

<b> Arroja el error </b>

*   <i> Error SQL (1366) : Incorrect integer value: '' for column 'canitdad' at row 72 </i>.


<b> Ejercutar consulta </b> :

In [ ]:
SELECT * FROM `venta` 
WHERE `id_venta` = 72;

UPDATE `venta` SET `cantidad` = NULL WHERE `id_venta` = 72;

El campo está vacío, almacenó el salto de línea, nos obstante, al realizar la consulta: 

```sql
    SELECT * FROM venta 
    WHERE cantidad = ' ' OR cantidad IS NULL;

```

No arroja ninguna coincidencia, pues los parametros seteados no correspondel al carácter del salto de linea.

<b> Solución </b>

*   En windows, el salto de linea es representado, en la mayoría de las ocaciones por: `\r\n`, no obstante tambie es frecuente encontrar archivos en los cuales el salto de línea es denotado por: `\n` (esto último depende en gran mendida de como fue generado el .csv). <br>
    *   Para 'decirle' a MySQL que busque mediante dicho parámetro es necesario contruir la consulta de la siguiente manera.
    
        ```sql
        SELECT * FROM venta 
        WHERE cantidad = CHAR(10) + CHAR(13);

        ```

*   En Linux, unix y iOS es representado por: `\n`. <br>
    *   Para 'decirle' a MySQL que busque mediante dicho parámetro es necesario contruir la consulta de la siguiente manera.
    
        ```sql
        SELECT * FROM venta 
        WHERE cantidad = CHAR(10);

        ```
| Representación | Caracter|
| -------------- | ------- |
| CHAR(10)       | \n      |
| CHAR(13)       | \r      |


<b> Ejercutar consulta </b> :

In [ ]:
UPDATE `venta`  SET `cantidad` = NULL WHERE `cantidad` = CHAR(10) + CHAR(13);

A través de la consulta anterior se identificaron los campos que almacenaron el salto de línea y luego se cargo en estos el valor nulo.


<b> Ejercutar consulta </b> :

In [ ]:
UPDATE `venta`	SET `aux_cantidad` = `cantidad`;

A través de la consulta anterior se copiaron los registro de la columna `cantidad` en la columna `aux_cantidad`. <br>

La instrucción:

```sql
    SHOW FULL COLUMNS FROM `venta`
```
Muestra la información característica de cada una de las columnas que conforman la tabla.

3.   Borrar la columna cantidad `cantidad`.

In [ ]:
ALTER TABLE `venta` DROP COLUMN `cantidad`;

4.   Cambiar el nombre de la columna `aux_cantidad` por `cantidad`.

In [ ]:
ALTER TABLE `venta` RENAME COLUMN `aux_cantidad` TO `cantidad`;

<b> Variación </b>

*   Omitiendo el paso 1 y ejecutando unicamente la consulta:

    ```sql 
        UPDATE `venta`  SET `cantidad` = NULL WHERE `cantidad` = CHAR(10) + CHAR(13);
    ``` 

*   en el paso 2, se puede modificar el tipo de datos de la columna `cantidad` sin necesidad de trasladar los datos, aplicando:

    ```sql 
        ALTER TABLE `venta` MODIFY `cantidad` INTEGER;
    ``` 
    ![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

<b> Consideraciones Adicionales </b>

Guardar en la tabla `aux_venta`, los registros que presentan problemas en la tabla, antes de realizar cualquier cambio, para luego remitirlo a la dirección y que sea evalaudo el proceso de captura de datos y se determine la manera más efectiva de tratar la información faltante.

In [ ]:
/* modificar tipo de datos */

-- tabla: `tipo_gasto`
-- campo: `id_tipo_gasto`   INTEGER

In [ ]:
ALTER TABLE `tipo_gasto` MODIFY `id_tipo_gasto` INTEGER;

In [ ]:
/* modificar tipo de datos */

-- tabla: `producto`
-- campo: `precio`       DECIMAL(10,2)

In [ ]:
SELECT MAX(CHAR_LENGTH(`concepto`)) FROM `producto`;

-- CHAR_LENGTH = 12

In [ ]:
ALTER TABLE `producto` MODIFY `precio` DECIMAL(15,2);

In [ ]:
/* modificar tipo de datos */

-- tabla: `empleado`
-- campo: `salario`       DECIMAL(10,2)

In [ ]:
SELECT MAX(CHAR_LENGTH(`empleado`)) FROM `salario`;

-- CHAR_LENGTH = 5

In [ ]:
ALTER TABLE `empleado` MODIFY `salario` DECIMAL(10,2);

In [ ]:
/* eliminar campo */

-- tabla: `compra`
-- campo: `precio`

-- tabla: `venta`
-- campo: `precio`

-- tabla: `cliente`
-- campo: `x`
-- campo: `y`
-- campo: `col10`

-- tabla: `sucursal`
-- campo: `latitud`
-- campo: `longitud`

In [ ]:
/* eliminar campo */

-- tabla: `compra`
-- campo: `precio`

In [ ]:
ALTER TABLE `compra` DROP COLUMN `precio`;

In [ ]:
/* eliminar campo */

-- tabla: `venta`
-- campo: `precio`

In [ ]:
ALTER TABLE `venta` DROP COLUMN `precio`;

In [ ]:
/* eliminar campo */

-- tabla: `cliente`
-- campo: `x`
-- campo: `y`
-- campo: `col10`

In [ ]:
ALTER TABLE `venta` DROP COLUMN `x`;
ALTER TABLE `venta` DROP COLUMN `y`;
ALTER TABLE `venta` DROP COLUMN `col10`;

In [ ]:
/* eliminar campo */

-- tabla: `sucursal`
-- campo: `latitud`
-- campo: `longitud`

In [ ]:
ALTER TABLE `venta` DROP COLUMN `latitud`;
ALTER TABLE `venta` DROP COLUMN `longitud`;ALTER TABLE `venta` MODIFY `cantidad` INTEGER

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

7.  Buscar valores faltantes y campos inconsistentes en las tablas sucursal, proveedor, empleado y cliente. De encontrarlos, deberás corregirlos o desestimarlos. Propone y realiza una acción correctiva sobre ese problema.

| Tabla      | Columna          | Nro Registros Faltantes |
| :--------: | :--------------: | :---------------------: |
|  Sucursal  | N/A              |   0                     |
|  Proveedor | Nombre           |   2                     |
|  Empleados | N/A              |   0                     |
|  cliente   | Provincia        |  31                     |
|  cliente   | Nombre Apellido  |  46                     |
|  cliente   | Domicilio        |  48                     |
|  cliente   | Telefono         |  90                     |
|  cliente   | Localidad        |  32                     |
|  cliente   | x                |  62                     |
|  cliente   | y                |  60                     |

Se crean las tablas `aux_venta`, `aux_proveedor`, `aux_cliente` y allí se han de almacenar los registros que presenten problemas de las tablas correspondientes: `venta`, `proveedor`, `cliente`, y los campos de las tablas nativas se han de completar con: 'Sin dato'.

In [ ]:
DROP TABLE IF EXISTS `aux_cliente`;
CREATE TABLE IF NOT EXISTS `aux_cliente` (
	`id_cliente`					INTEGER,
	`provincia`			VARCHAR(50),
	`nombre_apellido`	VARCHAR(80),
	`domicilio`			VARCHAR(150),
	`telefono`			VARCHAR(30),
	`edad`				VARCHAR(5),
	`localidad`			VARCHAR(80),
	`x`			VARCHAR(30),
	`y`			VARCHAR(30),
	`col10`				VARCHAR(1)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;

INSERT INTO `aux_cliente`
	SELECT * FROM `cliente` WHERE `id_cliente` IS NULL OR TRIM(`id_cliente`) = ''
    OR `provincia` IS NULL OR TRIM(`provincia`) = ''
    OR `nombre_apellido` IS NULL OR TRIM(`nombre_apellido`) = ''
    OR `domicilio` IS NULL OR TRIM(`domicilio`) = ''
    OR `telefono` IS NULL OR TRIM(`telefono`) = ''
    OR `edad` IS NULL OR TRIM(`edad`) = ''
    OR `localidad` IS NULL OR TRIM(`localidad`) = ''
    OR `x` IS NULL OR TRIM(`x`) = ''
    OR `y` IS NULL OR TRIM(`y`) = '';
    
ALTER TABLE `aux_cliente` DROP COLUMN `col10`;

SELECT * FROM aux_cliente;

SET SQL_SAFE_UPDATES = 0;

UPDATE `aux_cliente`
	SET
		`provincia` = CASE WHEN TRIM(`provincia`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`nombre_apellido` = CASE WHEN TRIM(`nombre_apellido`) = "" OR ISNULL(`nombre_apellido`) THEN 'Sin Dato' ELSE `nombre_apellido` END,
		`domicilio` = CASE WHEN TRIM(`domicilio`) = "" OR ISNULL(`domicilio`) THEN 'Sin Dato' ELSE `domicilio` END,
		`telefono` = CASE WHEN TRIM(`telefono`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`localidad` = CASE WHEN TRIM(`localidad`) = "" OR ISNULL(`localidad`) THEN 'Sin Dato' ELSE `localidad` END,
		`x` = CASE WHEN TRIM(`x`) = "" OR ISNULL(`x`) THEN '0' ELSE `x` END,
		`y` = CASE WHEN TRIM(`y`) = "" OR ISNULL(`y`) THEN '0' ELSE `y` END;
        
UPDATE `cliente`
	SET
		`provincia` = CASE WHEN TRIM(`provincia`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`nombre_apellido` = CASE WHEN TRIM(`nombre_apellido`) = "" OR ISNULL(`nombre_apellido`) THEN 'Sin Dato' ELSE `nombre_apellido` END,
		`domicilio` = CASE WHEN TRIM(`domicilio`) = "" OR ISNULL(`domicilio`) THEN 'Sin Dato' ELSE `domicilio` END,
		`telefono` = CASE WHEN TRIM(`telefono`) = "" OR ISNULL(`provincia`) THEN 'Sin Dato' ELSE `provincia` END,
		`localidad` = CASE WHEN TRIM(`localidad`) = "" OR ISNULL(`localidad`) THEN 'Sin Dato' ELSE `localidad` END,
		`x` = CASE WHEN TRIM(`x`) = "" OR ISNULL(`x`) THEN '0' ELSE `x` END,
		`y` = CASE WHEN TRIM(`y`) = "" OR ISNULL(`y`) THEN '0' ELSE `y` END;
        
SELECT * FROM `cliente`;

DROP TABLE IF EXISTS `aux_proveedor`;
CREATE TABLE IF NOT EXISTS `aux_proveedor` (
	`id_proveedor`		INTEGER,
	`nombre`			VARCHAR(80),
	`domicilio`		VARCHAR(150),
	`ciudad`			VARCHAR(80),
	`provincia`		VARCHAR(50),
	`pais`			VARCHAR(20),
	`departamento`	VARCHAR(80)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_spanish_ci;


INSERT INTO `aux_proveedor`
	SELECT * FROM `proveedor`
    WHERE `nombre` IS NULL OR TRIM(`nombre`) = '';

SELECT * FROM `aux_proveedor`;

UPDATE `aux_proveedor`  SET `nombre` = 'Sin Dato' 
	WHERE `nombre` IS NULL OR TRIM(`nombre`) = '';
    
SELECT * FROM `aux_proveedor`;

UPDATE `proveedor`  SET `nombre` = 'Sin Dato' 
	WHERE `nombre` IS NULL OR TRIM(`nombre`) = '';

SELECT * FROM `proveedor`;

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

8.  Chequear la consistencia de los campos precio y cantidad de la tabla de ventas.

Este ítem fue resuelto en los ejercicios anteriores.

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

9.  Utilizar la funcion provista 'UC_Words' para modificar a letra capital los campos que contengan descripciones para todas las tablas.

In [ ]:
SELECT * FROM `cliente`;

UPDATE `cliente`
	SET
		`provincia` = CASE WHEN (`provincia`)IS NOT NULL THEN UC_Words(`provincia`) ELSE `provincia` END,
        `nombre_apellido` = CASE WHEN (`nombre_apellido`)IS NOT NULL THEN UC_Words(`nombre_apellido`) ELSE `nombre_apellido` END,
		`domicilio` = CASE WHEN (`domicilio`)IS NOT NULL THEN UC_Words(`domicilio`) ELSE `domicilio` END,
		`localidad` = CASE WHEN (`localidad`)IS NOT NULL THEN UC_Words(`localidad`) ELSE `localidad` END;

SELECT * FROM `compra`;

-- No posee campos descriptivos

SELECT * FROM `gasto`;

-- No posee campos descriptivos

SELECT * FROM `sucursal`;

UPDATE `sucursal`
	SET
		`sucursal` = CASE WHEN (`sucursal`)IS NOT NULL THEN UC_Words(`sucursal`) ELSE `sucursal` END,
        `domicilio` = CASE WHEN (`domicilio`)IS NOT NULL THEN UC_Words(`domicilio`) ELSE `domicilio` END,
		`localidad` = CASE WHEN (`localidad`)IS NOT NULL THEN UC_Words(`localidad`) ELSE `localidad` END,
		`provincia` = CASE WHEN (`provincia`)IS NOT NULL THEN UC_Words(`provincia`) ELSE `provincia` END;

SELECT * FROM `tipo_gasto`;

-- No posee campos descriptivos

SELECT * FROM `venta`;

-- No posee campos descriptivos

SELECT * FROM `canal_venta`;

-- No posee campos descriptivos

SELECT * FROM `empleado`;

UPDATE `empleado`
	SET
		`apellido` = CASE WHEN (`apellido`)IS NOT NULL THEN UC_Words(`apellido`) ELSE `apellido` END,
        `nombre` = CASE WHEN (`nombre`)IS NOT NULL THEN UC_Words(`nombre`) ELSE `nombre` END,
		`sucursal` = CASE WHEN (`sucursal`)IS NOT NULL THEN UC_Words(`sucursal`) ELSE `sucursal` END,
		`sector` = CASE WHEN (`sector`)IS NOT NULL THEN UC_Words(`sector`) ELSE `sector` END,
        `cargo` = CASE WHEN (`cargo`)IS NOT NULL THEN UC_Words(`cargo`) ELSE `cargo` END;

SELECT * FROM `producto`;

UPDATE `producto`
	SET
		`descripcion_producto` = CASE WHEN (`descripcion_producto`)IS NOT NULL THEN UC_Words(`descripcion_producto`) ELSE `descripcion_producto` END,
        `tipo` = CASE WHEN (`tipo`)IS NOT NULL THEN UC_Words(`tipo`) ELSE `tipo` END;


SELECT * FROM `proveedor`;
	

UPDATE `proveedor`
	SET
		`nombre` = CASE WHEN (`nombre`)IS NOT NULL THEN UC_Words(`nombre`) ELSE `nombre` END,
        `domicilio` = CASE WHEN (`domicilio`)IS NOT NULL THEN UC_Words(`domicilio`) ELSE `domicilio` END,
        `ciudad` = CASE WHEN (`ciudad`)IS NOT NULL THEN UC_Words(`ciudad`) ELSE `ciudad` END,
        `provincia` = CASE WHEN (`provincia`)IS NOT NULL THEN UC_Words(`provincia`) ELSE `ciudad` END,
        `pais` = CASE WHEN (`pais`)IS NOT NULL THEN UC_Words(`pais`) ELSE `pais` END,
        `departamento` = CASE WHEN (`departamento`)IS NOT NULL THEN UC_Words(`departamento`) ELSE `departamento` END;